$color-grey-light-1: #f7f7f7;
.profile {
  padding: 2rem;
  margin: 0 auto;
  background-color: $color-grey-light-1;
}

.account-setting {
  color: black;
  font-size: 18px;
  width: 200px;
  height: 80px;
  align-items: center;
  -webkit-align-items: center;
  border: #999 1px solid;
  border-radius: 10px;
  margin: 20px;
  background-image: linear-gradient(
    rgba(198, 249, 148, 0.7),
    rgba(62, 119, 6, 0.7)
  );
}
.account-setting a {
  color: black;
}
.account-setting:hover {
  background-image: linear-gradient(
    rgba(62, 119, 6, 0.7),
    rgba(198, 249, 148, 0.7)
  );
}
.special-color {
  color: #44cc00;
}
.edit-payment {
  background-color: #f4f4f4;
  padding: 2rem;
}

.edit-address {
  background-color: #f4f4f4;
  padding: 2rem;
}
.change-password {
  background-color: #f4f4f4;
  padding: 2rem;
}
