.brand-container {
  font-weight: 500;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  .brand-first.black{
    color: #262626;
  }
  .brand-first.white {
    color: #fff;
  }
  .brand-second {
    color: #60b70a;
  }
}
