.section-steps {
  background-color: #f4f4f4;
  padding: 80px 0;
}
.steps-box:first-child {
  margin-top: 30px;
  text-align: right;
  padding-right: 3%;
}
.steps-box:last-child {
  margin-top: 70px;
  padding-left: 3%;
}

.app-screen {
  width: 40%;
}

.works-step {
  margin-bottom: 50px;
}
.works-step:last-of-type {
  margin-bottom: 80px;
}
.works-step div {
  color: #60b70a;
  border: 2px solid #60b70a;
  display: inline-block;
  border-radius: 50%;
  height: 55px;
  width: 55px;
  text-align: center;
  padding: 5px;
  float: left;
  font-size: 150%;
  margin-right: 25px;
}
.btn-app:link,
.btn-app:visited {
  border: 0;
}
.btn-app img {
  height: 50px;
  width: auto;
  margin-right: 10px;
}
