.food-detail {
  .focus-box {
    margin-top: 0;
    margin-bottom: 2rem;
    max-width: 100px;
  }
  h2 {
    color: #60b70a;
  }
  .btn {
    display: block;
    max-width: 200px;
  }
  .food-description {
    color: gray;
  }
}