$border-bottom-color: #3f9921;
div.focus-box {
  margin-right: 15px;
  margin-top: 10px;

  div {
    width: 100%;
    input {
      width: 100%;
      -webkit-appearance: none;
      text-align: inherit;
      font-size: 0.875em;
      background: white;
      outline: none;
      border-radius: 3px;
      border: solid 1.5px #D3D3D3;
      -webkit-transition: all ease 250ms;
      -moz-transition: all ease 250ms;
      -ms-transition: all ease 250ms;
      -o-transition: all ease 250ms;
      transition: all ease 250ms;
      &.big {
        padding: 16px;
      }
      &.small {
        padding: 11px;
      }
    }

    div.focus {
      float: left;
      width: 100%;
      margin-top: -1px;
      position: relative;
      height: 1px;
      background: transparent;
      border-color: transparent;

      div {
        position: absolute;
        z-index: 2;
        width: 100%;
        transform: scale(0, 1);
        height: 2px;
        margin-top: -1px;
        background: $border-bottom-color;
        -webkit-transition: all ease 250ms;
        -moz-transition: all ease 250ms;
        -ms-transition: all ease 250ms;
        -o-transition: all ease 250ms;
        transition: all ease 250ms;
      }
    }
  }

  &.focus {
    input {
      background: #DEE9FA !important;
    }

    div.focus div {
      transform: scale(1, 1) !important;
    }

  }

  &.error {
    div.focus div {
      background: red !important;
    }
  }

  &.focus.error {
    input {
      background: rgba(255, 0, 0, 0.125) !important;
    }
  }
}