.product-card-container {
  .pc-list-tags .list-inline-item {
    font-size: .8rem;
    &:before {
      content: '•';
      margin-right: .2rem;
    }
  }
  a {
    color: #000000;
    &:hover {
      text-decoration: none;
      opacity: .6;
    }
  }
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 8px 0px, rgba(23, 32, 38, 0.06) 0px 2px 4px 0px;
  }
  border-radius: 3px;
}