.product-card-container {
  .pc-list-tags .list-inline-item {
    font-size: .8rem;
    &:before {
      content: '•';
      margin-right: .2rem;
    }
  }
  a {
    color: #000000;
    &:hover {
      text-decoration: none;
      opacity: .6;
    }
  }
}